body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h2 {
    font-size: 3rem;
    line-height: 1;
}

h3 {
    font-size: 1.5rem;
    line-height: 1;
}

.intro {
    box-sizing: border-box;
    border: 1px solid blue;
    width: 100%;
    height: 100%;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    margin-bottom: -2px;
}

.intro-inner {

    width: 100%;
    max-width: calc(1280px);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.intro-text {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.intro-img img {
    width: 90%;
    border-radius: 50%;
}

#welcome {
    display: inline-block;
    box-sizing: border-box;
    max-height: calc(180px - 2rem);
    width: auto;
}

.intro-inner p {
    max-width: 69ch;
}

/*SERVICE*/
.service-container {
    display: flex;
    justify-content: center;
    margin-top: -5rem;
    padding-bottom: 1rem;
}

.columns {
    border: 1px solid red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.column {
    border-radius: 15px;
    width: 100%;
}

.service img {
    margin: auto;
    width: 90px;
}


/*PROJECT*/
.projects {
    box-sizing: border-box;
    border: 1px solid red;
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-list { 
    display: none; 
}
  
.project-list {
    box-sizing: border-box;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 10px;
}
  
.project-item { 
    /*need this*/
    display: none; 
}
  
.project-item.active {
    display: block;
    animation: scaleUp 0.25s ease forwards;
}
  
.project-item > a { 
    width: 100%; 
}
  
.project-item > a:hover .project-img::before { 
    background: hsla(0, 0%, 0%, 0.5); 
}
  
.project-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
.project-title,
.project-category { 
    margin-left: 10px; 
}
  
.project-title {
    line-height: 1.3;
}
  
.project-category {
    color: red;
}

/*FOOTER*/
.footer {
    border: 1px solid red;
}

/*Phones*/
@media (max-width: 480px) {
    .project-img { 
        height: auto; 
    }
}

/*Tablets and Phones*/
@media (min-width: 481px) {
    .project-img { 
        border-radius: 0; 
    }
}

/*Tablets and Small Desktops*/
@media (min-width: 769px) {
    .filter-select-box { 
        display: none; 
    }
    
    .filter-list {
        border: 1px solid blue;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
        padding-left: 5px;
        margin-bottom: 30px;
    }
    
    .filter-item button {
        color: black;
        padding: 20px 7px;
        font: inherit;
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
    }
    
    .filter-item button:hover { 
        color: blue; 
    }
    
    .filter-item button.active { 
        color: red; 
    }
    
    .project-list { 
        grid-template-columns: 1fr 1fr
    }

    /*SERVICE*/
    .columns {
        width: 900px;
    }
}

/*Large Desktop*/
@media (min-width: 1200px) {
    /*SERVICE*/
    .columns {
        width: 1300px;
    }

    .column {
        height: 500px;
    }
 
    .service-content .columns .column {
        padding: 50px 30px;
    }

    .columns {
        width: 1300px;
    }

    /*PROJECT*/
    .project-list { 
        grid-template-columns: repeat(3, 1fr); 
    }

    .projects .filter-list {
        display: flex;
    }
}

/*Extra Large Devices*/
@media (min-width: 1441px) {
    /*SERVICE*/
    .columns {
        width: 1500px;
    }

    /*PROJECTS*/
    .project-list {
        width: 70%;
        height: 100%;
        margin-bottom: 15px;
    }

    .project-item {
        border: 1px solid green;
        display: flex;
        justify-content: center;
    }
}




